html, body {
    margin: 0;
    padding: 0;
}

/*Classes and IDs used for all pages*/
#navbar {
    background-color: #313639;
    color: #F5F5F5;
    font-size: 26px;
    font-family: sans-serif;
}

#headerimage {
    width: 100%;
}

#imgcontainer {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/*Classes used for index.html page*/
.description {
    font-size: 24px;
}

.manageheading {
    font-size: 24px;
    font-weight: bold;
}

.optiondescription {
    font-size: 16px;
}

/*Classes used for pizzas.html page*/
.strikethrough {
    text-decoration: line-through;
}

.border {
    border-style: solid;
    
    border-radius: 2%;
}